include detector_settings.json
include requirements.txt
include requirements-dev.txt
include constraints.txt
include ruff.toml
recursive-include guides *.md
recursive-exclude out *
recursive-exclude archive *
recursive-exclude archive2 *
recursive-exclude share *
